---
import Layout from '../layouts/Layout.astro';
import SelectedPublications from '../components/SelectedPublications.astro';
import AboutContent from '../content/about.md';
import { getConfig } from '../utils/config';
const config = await getConfig();
---
<Layout title={config.site.title}>
  <div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
      <div class="md:col-span-2">
        <section class="mb-6">
          <div class="text-lg leading-relaxed text-gray-700 dark:text-gray-300 text-justify">
            <AboutContent />
          </div>
        </section>

        <SelectedPublications />
      </div>

      <div class="md:col-span-1">
        <figure class="m-0">
          <img
            src="/gundam.png"
            alt="Research Image"
            class="w-full h-auto rounded-lg shadow-lg"
          />
          <figcaption class="text-base text-gray-600 dark:text-gray-400 mt-2 text-center">
            <b>Caption:</b> Me visiting the Giant Gundam in Yokohama in November, 2023
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</Layout>
